/Lib/
/Scripts/
/share/
/Include/
/etc/
/pyvenv.cfg
/.idea/misc.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/modules.xml
/.idea/police-app.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
